*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none ;
    font-family: 'Poppins', sans-serif;
}
:root{
    --textwhite:#fff;
    --textblack:#0000;
    --lienHover:#E9BD8C;
    --button:#933C24;
}
body{
    background-color: #fff;
    display: flex;    
}
 
.home{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../images/newbg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 header{ 
    position: relative;
     margin: 33px 0px 0px 73px;
 }
 nav{
    display: flex;
    
 }
 nav ul li a{
    text-decoration: none;
    color: var(--textwhite);
 }
.logo a img{
    margin: 0px 100px;
 }
header ul{
    margin-top: 28px;
     color:var(--textwhite) ;
     display: flex;
     justify-content: space-between; 
}

header ul li{
    font-size: 20px;
    margin-right: 15px;
}
a{
    cursor: pointer;
}
a:hover{
    color:var(--lienHover);
}
.container{
    margin-top: 20vh;
    margin-left: 135px;
    color: var(--textwhite);
}
.PtextHome{
    font-size: 5rem;
    font-family: 'Sansita Swashed', sans-serif;
}

.discription{
    display: flex;
   margin-top: 16px;
}
.discription p{
    text-align: center;
    margin-top: 20px;
}
.titreAboutus{
    width: 500px;
    height: auto;
    position: absolute;
    top:108vh;
	left: 50%;
   text-align: center;
   transform: translate(-50%, -50%);
}
.titreAboutus h3{
    font-size: 5rem;
    font-family: 'Sansita Swashed', sans-serif;
}
.zoneabout{
    width: 100%;
 
    position: relative;
    top:120vh;
}
.zoneabout img{
    width: 100%;
    height: 40%;
}
.TextAbout{
    position: absolute;
    top:10%;
    left: 6%;
    font-size: 20px;
    color:var(--button);
    font-family:'Poppins', sans-serif;
}
/* footer */

/* foooter */
footer{
    
    position: absolute;
    width: 100%;
    height: 50vh;
    background-image: url("../images/bgFooter.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 190vh;
    padding: 16px 0px;
}
.haut{
  display: flex;
  
}
/*  */

.sochailLink{
    display: flex;
    justify-content: space-around;
    color: var(--lienHover);
    font-size: 20px;
    margin-top: 20px;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #E9BD8C; 
}
.tt{
    margin-right: 100vh;
}
.imglink{
    margin-left: 20px;
}
.sizelink{
    width: 30px;
    height: auto;
    margin-right: 20px;
}
.bas{
  display: flex;
  color:var(--textwhite);
  justify-content: space-around;
  margin-top: 50px;
  line-height: 40px;
}

.organise h6{
    color: var(--lienHover);
    font-size: 40px;   
}

.organise ul li a{
    text-decoration: none;
    color: #fff;
}
.recette{
    display: flex;
    margin-bottom: 10px;

}
.recette img{
    margin-right: 10px;
    width: 60px;
    height: auto;
}
.recette .span{
    display: block;
}
.recette .span .titre{
   color: var(--lienHover);
}
